{% extends "layout.njk" %}

{% block content %}

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">catégories</th>
    </tr>
  </thead>
  <tbody>
    {% for object in categories %}
    <tr><td scope="row" id="{{object.id}}">{{object.label}}</td></tr>
    {% endfor %}
  </tbody>
</table>


  <script> {% for object in categories %}
    document.getElementById("{{object.id}}").addEventListener("click", () => {
      window.location = "http://localhost:3000/categories/{{object.id}}";
    });
    {% endfor %}
    </script>

{% endblock %}
